@font-face {
  font-family: 'os_luizi_round_ffcregular';
  src: url('os_luizi_round-ffc-web.woff2') format('woff2'),
       url('os_luizi_round-ffc-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'os_luizi_round_ffcregular', sans-serif;
  font-size: 300%;
  color: rgb(136, 63, 53);
  text-shadow: 2px 2px #e4a1a1;
}

h2 {
    direction: rtl;
    margin-top: 100px;
    font-family: 'os_luizi_round_ffcregular', sans-serif;
    font-size: 300%;
    text-shadow: #ddd 2px 2px;
}

.App {
  display: flex;
  flex-direction: column;
}

.innerBackground {
  position: relative;
  content: "";
  /* top: 40px; */
  width: 90%;
  align-self: center;
  background-image: url(images/‏‏outdoor-cafe-bird-city-sparrow-sitting-table\ -\ small.jpg);
  background-position: right bottom; 
  margin: 40px;
  padding-bottom: 40px;
}

#mainTable {
  align-self:center;
  max-width: 330px;
  min-height: 250px;
  margin: auto;
}
table {
  justify-self: center;
  text-align:right;
  direction: rtl;
  border: 1px solid darkslategray;
  line-height: 1.5;
  padding: 30px;
  background-color: rgba(252, 252, 234, 0.8);
}
table input {
  width: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #880101;
}
table input[type=text]{
  width: 120px;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;
} */

table input:disabled {
  /* cursor: not-allowed;  */
  color: #005e5e;
  /* opacity: 0.6;  */
  border-color: #ddd;
}
th {
  border-bottom: 1px solid black;
}
.productID {
  font-style: italic;
  color: #005e5e;
}

.btn {
  justify-self: flex-end;
  width: 90px;
  height: 25px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: beige;
  text-shadow: 1px 1px #572727;
  /* background-color: rgba(245, 245, 220, 0.548); */
}
.removeProduct {
  color: red;
}

#passwordBox {
  position:absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  height: 140px;
  background-color: #005e5ede;
  color: antiquewhite;
  border: 2px solid rgb(54, 54, 54);
  box-shadow: 2px 2px 2px rgb(66, 66, 66);
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}
#passwordBox button {
  width: 50px;
  height: 30px;
  margin-top: 15px;
  box-shadow: 2px 2px 2px rgb(66, 66, 66);
}

/* message box */
.msg-box {
  direction: rtl;
  position: fixed;
  font-weight: 700;
  top: 70px;
  left: 10px;
  background-color: rgba(0, 78, 23, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards, fade-out 0.3s ease-in-out forwards 2.7s;
}

h4 {
  margin: 10px;
}
.sumTotal {
  font-family: 'os_luizi_round_ffcregular', sans-serif;
  font-size: 200%;
  text-shadow: #ddd 2px 2px;
}

.sumTotal p {
  direction: rtl;
  font-size: 200%;
  font-weight: 700;
  text-decoration: underline;
  color: #9b0000;
  margin: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#contactme {
  font-size: 80%;
  align-self: flex-start;
  margin: 60px 40px;
}